@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lexend Deca", sans-serif;
  background: black;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

header {
    height: 75vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./images/HOD-img.jpg);
    background-size: cover;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    box-shadow: 
      0 -50px 60px 30px black inset;
    color: white;
}

.header .hod-logo, .logo-header, .logo-text {
  width: 30%;
  margin-left: 4rem;
}

.logo-header {
  margin-top: 1rem;
}

.header  .header-buttons {
  margin-left: 4rem;
}

.header-buttons {
  display: flex;
  margin-top: 1rem;
}

.play-button {
  padding: 1rem;
  border: 2px solid rgba(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
}

.play-button:hover {
  border-color: rgb(148, 29, 232);
}

.info-button {
  font-size: 1rem;
  font-weight: bold;
  color: rgba(255, 255, 255);
  background-color: rgb(40, 40, 40);
  padding: 1rem 2rem;
  border-radius: .4rem;
  margin-left: 1rem;
  cursor: pointer;
}

.info-button:hover {
  border: 2px solid rgba(148, 29, 232);
}

a {
  text-decoration: none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  transition: 0.3s;
  margin: 0.5rem 0;
  margin-left: 1rem;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  margin-left: 1rem;
  font-size: 36px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.hbomax-logo {
  width: 130px;
  height: auto;
}

.search-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-right: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-left,
.hbomax-logo,
.navbar-right {
  margin: 1.3rem 0;
}

.menu-icon {
  display: inline-block;
  cursor: pointer;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 4rem;
  column-gap: 0.5rem;
  color: rgba(255, 255, 255, 0.7);
}

.navbar-left {
  display: flex;
  align-items: center;
  margin-left: 4rem;
  column-gap: 1.5rem;
  color: rgba(255, 255, 255, 0.7);
}

.navbar-left a {
  color: rgba(255, 255, 255, 0.7);
}

.navbar-left a:hover {
  color: rgba(255, 255, 255);
}

.profile-pic {
  border: 2px solid hsl(218, 82%, 72%);
  background-color: black;
  border-radius: 50%;
  padding: 0.5rem 0.75rem;
  font-size: 14px;
  cursor: pointer;
}

#profile-pic {
  color: rgba(255, 255, 255);;
}

.profile-name {
  color: rgba(255, 255, 255, 0.7);
}

.profile-name:hover {
    color: rgba(255, 255, 255);
    cursor: pointer;
}
.dropbtn {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-right: 8px;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(25, 25, 25);
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: rgb(40, 40, 40);}

.show {display: block;}

.profile-button-container {
  display: flex;
  align-items: center;
}

hr {
  color: white;
  border: none;
}